# ЛОКАЛЬНОЕ ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ.
.venv/
venv/

# СЛУЖЕБНЫЕ ФАЙЛЫ PYCHARM.
.idea/

# ЛОКАЛЬНЫЕ НАСТРОЙКИ И СЕКРЕТЫ.
.env

# ВРЕМЕННЫЕ ФАЙЛЫ PYTHON.
__pycache__/
*.pyc

# ВРЕМЕННЫЕ ФАЙЛЫ ТЕСТОВ И ПРОВЕРОК.
.pytest_cache/
.mypy_cache/
.coverage
